<h5 class="form-header">User List</h5>

<div>

	<%= link_to "New user", new_user_path  , class: 'cmn-btn',
	id:'new-user', data:{bs_toggle: 'modal', bs_target: '#newUserModal', remote: true} %>

	<div  class="btn-sec">

		<%= button_to 'Upload', import_path, method: :get , class: 'cmn-btn' , id: 'upload' %>
		
		<%= link_to "Download", users_path(format: "csv") , class: 'cmn-btn' , id: 'download' %>

	</div>

</div>

<div class="container">

	<table id="example" class='table table-striped table-sm'>

		<thead>

			<th>Name</th>

			<th>Email</th>

			<th>Created User</th>

			<th>Type</th>

			<th>Phone</th>

			<th>Date of birth</th>

			<th>Address</th>

			<th>Created_date</th>

			<th>Updated_date</th>

			<th>Delete</th>

		</thead>

		<tbody id="tableBody">

			<% @users.each do |user| %>
				
				<%= render 'user_row' , user: user %>
					
			<% end %>

		</tbody>

	</table>

</div>

<!-- Create Modal -->
<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newUserModalLabel">Create New User</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
			<div id="newUserForm">
			</div>
    </div>
  </div>
</div>

<!-- Show Modal -->
<div class="modal fade" id="showUserModal" tabindex="-1" role="dialog" aria-labelledby="showUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showUserModalLabel">User Confirm</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
			<div id="showUserDetails">
			</div>
    </div>
  </div>
</div>

<script type="text/javascript">

	function confirmDeleteModal(id){

		$('#exampleModal'+id).modal('show');

	}    

	function stopModal(id){
		
		$('#exampleModal'+id).modal('hide');
		
	} 

</script>